#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}


.header {
  min-width: 800px;
  margin-bottom: 16px;
}

.header > a:first-child {
  margin-left: 0;
  padding-left: 0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
